/* ⭐️⭐️⭐️⭐️ */
/* CLIENT  */
/* ⭐️⭐️⭐️⭐️ */

/* global styles */
@import 'reset.css';
/* @import 'typography.css'; */


/* server items inladen */
/*.layout and view styling */
@import '../server/layouts/base.css';
@import '../server/views/index.css';


/* component styling */
@import '../server/components/card/card.css';

/* 💗💗💗💗💗💗💗💗💗 */
/* GENERAL STYLING */
/* 💗💗💗💗💗💗💗💗💗 */


/* CUSTOM PROPERTIES */
:root{
  /* main colors */
  --color-beige: #DDD6CE;
  --color-beige-light: #F5EBDD;
  --color-brown: #6E5849;
  --color-black: #000000;
  --color-white: #FFFFFF; 

  /* accent colors */
  --color-pastel-green: #D4F4DD;
  --color-pastel-blue: #DCEEF2;
  --color-pastel-pink: #FADADD;
  --color-pastel-yellow: #FFF5C3;
  --color-pastel-orange: #F2C6B4;
  
  /* font */
  --font-primair: 'CLAY', sans-serif;
  --font-secundair: 'Quicksand', sans-serif;
  --font-third: "Quicksand", sans-serif;
}

