{% layout "server/layouts/base.liquid" %}


{% block myWork %}
<main class="detail-main">

<section class=" single-project introduction-project">
    <ul>
      <li><p class="badge-lightpink">School project - first year</p></li>
      <li><h1>Emerging<span class="highlight">Technologies</span></h1></li>
      <li>
        <p class="intro">
          For this course, I explored emerging technologies such as AI, VR cameras and more. I documented my findings in a product biography.
        </p>
      </li>
    </ul>
  </section>

    <!-- Pagina Galerij -->
    <section class="detail-section">
      <h2>The product</h2>
      <div class="detail-page-gallery">
        <figure>
          <img src="/assets/images/emerging-technologies.png" alt="emerging technology project picture" /> 
        </figure>
        <figure>
          <img src="/assets/images/emerging-proces.png" alt="process of emerging preview" />     <figcaption>Product biography </figcaption>
        </figure>
      </div>
    </section>



  <!-- Reflectie en leerpunten -->
  <section class="detail-after-process">
    <article class="detail-learned">
      <h3>✨ What Have I Learned</h3>
      <p>
        Since this project focused more on the process than the final result, I learned a lot about how to document and clearly present my findings. I also discovered how to work with different technologies and integrate them into my design process in a meaningful way.      </p>

    </article>
    <article class="detail-reflection">
      <div class="detail-banner">Reflection</div>
      <p>This project took place in 2022, when AI was just starting to gain traction among students. I had never really worked with it before, so this subject gave me the perfect opportunity to explore it — and I had a lot of fun experimenting with new technologies!</p>
    </article>
  </section>

</main>



{% endblock %}