{% layout "server/layouts/base.liquid" %}


{% block myWork %}
<main class="detail-main">

<section class=" single-project introduction-project">
    <ul>
      <li><p class="badge-lightpink">School project - minor information design</p></li>
      <li><h1>Light pollution movie for <span class="highlight">Artis </span></h1></li>
      <li>
        <p class="intro">
          For my Information Design minor, I created a short film using data visualizations to raise awareness about the impact of light pollution on the environment in Amsterdam.
          <br>
          </br>
          Together with my group, I produced the film at Artis — inside the dome! 🪩
          </p>
      </li>
    </ul>
  </section>

    <!-- Pagina Galerij -->
    <section class="detail-section">
      <h2>The product</h2>
      <div class="detail-page-gallery">
        <figure>
          <img src="/assets/images/light-pollution-2.png" alt="Artis project picture " />
        </figure>
        <figure>
          <img src="/assets/images/proces-artis1.png" alt="little insight in the process" /> <figcaption>Product biography</figcaption>
        </figure>
      </div>
    </section>


  <!-- Reflectie en leerpunten -->
  <section class="detail-after-process">
    <article class="detail-learned">
      <h3>✨ What Have I Learned</h3>
      <p>
        During this project, I learned how to develop a concept based on research, work with a 360° camera, and create data visualizations through editing and storytelling. The dome uses 360° projections, which means the film surrounds the viewer completely.
      </p>

    </article>
    <article class="detail-reflection">
      <div class="detail-banner">Reflection</div>
      <p>
        This was a truly unique experience. I grew up visiting the zoo, so being chosen to create a film for Artis felt like a full-circle moment. I really enjoyed working on something innovative, and it became a once-in-a-lifetime experience.
      </p>
    </article>
  </section>

</main>



{% endblock %}