{% layout "server/layouts/base.liquid" %}


{% block myWork %}
<main class="detail-main">

<section class=" single-project introduction-project">
    <ul>
      <li><p class="badge-lightpink">School project</p></li>
      <li><h1>Society and <span class="highlight">Interation</span></h1></li>
      <li>
        <p class="intro">
          For this schoolsubject, I had to use a manipulative app and try to change the behaviour of people who use it.
          For a better user experience!
        </p>
      </li>
    </ul>
  </section>

    <!-- Pagina Galerij -->
    <section class="detail-section">
      <h2>The product</h2>
      <div class="detail-page-gallery">
        <figure>
          <img src="/assets/images/society-interaction-2.png" alt="society and interation project picture" /> 
        </figure>
        <figure>
          <img src="/assets/images/process-societyandinteraction.png" alt="process of society preview" />          <figcaption>Design rationale</figcaption>
        </figure>
      </div>
    </section>



  <!-- Reflectie en leerpunten -->
  <section class="detail-after-process">
    <article class="detail-learned">
      <h3>✨ What Have I Learned</h3>
      <p>
        I put a lot of effort in this project, because I was very eager to make the website look similar...
      </p>

    </article>
    <article class="detail-reflection">
      <div class="detail-banner">Reflection</div>
      <p>Looking back at this project I feel proud...</p>
    </article>
  </section>

</main>



{% endblock %}