/* ⭐️   General   ⭐️  */
main{
    position: relative;
    min-height: 88vh;
    padding: 1.5rem;
}

/* Header styling */
header nav svg {
  height: 19px;
}

header nav, header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

header nav{
  padding: 20px;
}

header ul:nth-of-type(1) {
  gap: 15px;
}

header ul:nth-of-type(2) {
  gap: 20px;
}

header {
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
}

header input {
  display: none;
}

header label {
  display: none;
  cursor: pointer;
}

header ul:nth-of-type(3) {
  display: none;
}

@media screen and (max-width: 1000px) {
  header nav ul:nth-of-type(2) {
    display: none;
  }

  header ul:nth-of-type(1) li:nth-of-type(2) {
      display: none;
    }

  header label {
    display: block;
  }

  header ul:nth-of-type(3) {
    position: absolute;
    top: 70px;
    right: 40px;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    gap: 20px;
  }

  header input[type="checkbox"]:checked ~ ul:nth-of-type(3) {
    display: flex;
  }
}

/* footer styling */

footer ul{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 420px) {
  footer ul li {
    font-size: 12px; /* of kleiner indien gewenst */
  }
}