{% layout "server/layouts/base.liquid" %}

{% block homeOverview %}

<div class="single-project">

  <!-- Introductie -->
  <section class=" single-project introduction-project">
    <ul>
      <li><p class="badge-lightpink">About me</p></li>
      <li><h1>Hello, I'm <span class="highlight">Kim van Zuilen</span></h1></li>
      <li>
        <p class="intro">
          Third year Communication & Multimedia Design student from Amsterdam. I always loved creating images, moodboards and organizing my Pinterest boards.
          Currently studying at HVA to become a UX/UI designer & frontend developer.
          <br><br>
          My interests lie in visual design and programming. Improving my skills is a big goal, and I would love to explore more with social media, AI, and building accessible websites for everyone!
        </p>
      </li>
    </ul>
  </section>
</div>




{% endblock %}
