{% layout "server/layouts/base.liquid" %}

{% block homeOverview %}

<div class="single-project">

  <!-- Introductie -->
  <section class=" single-project introduction-project">
    <ul>
      <li><p class="badge-lightpink">About me</p></li>
      <li><h1>Hello, I'm <span class="highlight">Kim van Zuilen</span></h1></li>
      <li>
        <p class="intro">
          Third year Communication & Multimedia Design student from Amsterdam. I always loved creating images, moodboards and organizing my Pinterest boards.
          Currently studying at HVA to become a UX/UI designer & frontend developer.
      </li>
    </ul>
  </section>

  <article class="project-section all-images">
  <div class="image small">
    <img src="/assets/images/about-me1.JPG" alt="Overview home page Framer Framed project " />
  </div>
  <div class="image small">
    <img src="/assets/images/about-me2.JPG" alt="Overview home page all data Framer Framed" />
  </div>
</article>
</div>


<section class="skills-overview">
  <h2>My Skills</h2>
  <div class="skills-columns">
 
    <div class="skills-group">
      <h3>Soft skills:</h3>
      <ul>
        <li>Problem solving</li>
        <li>Active listening</li>
        <li>Empathy</li>
        <li>Curiosity</li>
        <li>Team player</li>
         <li>Creative</li>
        <li>Stress-resistant</li>
        <li>Responsable</li>
      </ul>
    </div>
    <div class="skills-group">
      <h3>Hard skills:</h3>
      <ul>
        <li>HTML & CSS</li>
        <li>JS</li>
        <li>Github</li>
        <li>Nodejs</li>
        <li>NPM</li>
        <li>UX, UI design </li>
        <li>Accessibility</li>
      </ul>
    </div>
    <div class="skills-group">
      <h3>Design tools:</h3>
      <ul>
        <li>Adobe XD</li>
        <li>Figma</li>
        <li>Canva</li>
        <li>Procreate</li>
        <li>Magento</li>
        <li>Illustrator</li>
        <li>Visual Studio</li>
      </ul>
    </div>
  </div>
</section>

<div class="single-project">

<article class="project-section">
  <div class="text">
    <h2>My part in this project</h2>
    <p>
    I made the home page "all data" and "per category". As well as helping my group with creating the concept, prototyping and coding of the website!
    <br>
    </p>
  </div>
</article>

<article class="project-section all-images">
  <div class="image">
    <img src="/assets/images/css-ticket.png" alt="CSS tickets" />
  </div>
</article>
</div>








{% endblock %}
