{% layout "server/layouts/base.liquid" %}

{% block aboutMe %}

<section class="introduction-me">
  <h2>Third year Communication & Multimedia Design student</h2>
  <ul class="card">
    <li class="item">
      <img src="/assets/images/profile-picture.png" alt="cute image">
    </li>
    <li class="item">
      <div>
        <h3>Kim van Zuilen</h3>
        <p>Third year Communication & Multimedia Design student</p>
        <p>
          I was born and raised in Amsterdam. I always loved creating images, making moodboards or organizing my Pinterest board. I'm studying at HVA to become an UX/UI designer & frontend developer. <br></br> My interests are visual design and programming but improving my skills is also a big goal. I would love to work more with social media, AI or building websites that are accessible for everyone!
        </p>

        <p>If I need to describe myself in 3 words, it would be</p>
        <ul class="tags">
          <li><span>Ambitious</span></li>
          <li><span>Team player</span></li>
          <li><span>Creative</span></li>
        </ul>
      </div>
    </li>
  </ul>
  </section>

  <section class="skills-overview">
  <h2>My Skills</h2>
  <div class="skills-columns">
 
    <div class="skills-group">
      <h3>Soft skills:</h3>
      <ul>
        <li>Problem solving</li>
        <li>Active listening</li>
        <li>Empathy</li>
        <li>Curiosity</li>
        <li>Team player</li>
         <li>Creative</li>
        <li>Stress-resistant</li>
        <li>Responsable</li>
      </ul>
    </div>
    <div class="skills-group">
      <h3>Hard skills:</h3>
      <ul>
        <li>HTML & CSS</li>
        <li>JS</li>
        <li>Github</li>
        <li>Nodejs</li>
        <li>NPM</li>
        <li>UX, UI design </li>
        <li>Accessibility</li>
      </ul>
    </div>
    <div class="skills-group">
      <h3>Design tools:</h3>
      <ul>
        <li>Adobe XD</li>
        <li>Figma</li>
        <li>Canva</li>
        <li>Procreate</li>
        <li>Magento</li>
        <li>Illustrator</li>
        <li>Visual Studio</li>
      </ul>
    </div>
  </div>
</section>


  {% comment %} experience{% endcomment %}
  <section class="experiences">
    <div class="experiences-wrapper">
  
      <div class="content-column">
        <h2>My experiences</h2>
        <ul>
      <li>
        <details>
          <summary>Hackathon winning</summary>
          <p>klalkdffak</p>
        </details>
      </li>
  
      <li>
        <details>
          <summary>information design</summary>
          <p>klalkdffak</p>
        </details>
      </li>
  
      <li>
        <details>
          <summary>Webdesign & development</summary>
          <p>klalkdffak</p>
        </details>
      </li>
  
      <li>
        <details>
          <summary>Cum laude - 1st year</summary>
          <p>klalkdffak</p>
        </details>
      </li>
  
      <li>
        <details>
          <summary>Fashioncheque</summary>
          <p>klalkdffak</p>
        </details>
      </li>
  
      <li>
        <details>
          <summary>Bitch the agency</summary>
          <p>klalkdffak</p>
        </details>
      </li>
  
        </ul>
      </div>
      
         <div class="image-column">
        <img src="/assets/images/css-ticket.png" alt="picture of Kim with her teammates winning css ticekts" class="portrait">
      </div>
  
    </div>
  </section>


{% endblock %}




