{% layout "server/layouts/base.liquid" %}


{% block homeOverview %}
<div class="display-overview">
{% comment %} home banner {% endcomment %}
  {% comment %} <div class="gradientHome">
  </div>
  
  <section class="home-banner">
   <h1>Webdesign
     <br></br>& development</h1>
   <button>scroll please!</button>
  </section>
  
  <ul class="scroll-banner">
    <li>first year cum laude</li>
    <li>Always eager to learn more!</li>
    <li>Dreamwork is teamwork</li>
     <li>first year cum laude</li>
    <li>Always eager to learn more!</li>
    <li>Dreamwork is teamwork</li>
  </ul> {% endcomment %}



  <section class="introduction-me">
  <h2>Who am I?</h2>
  <ul class="card">
    <li class="item">
      <img src="/assets/images/profile-picture.png" alt="cute image">
    </li>
    <li class="item">
      <div>
        <h3>Hi I'm Kim</h3>
        <p>
          I am a third-year student Communication & Multimedia Design at the Hogeschool van Amsterdam. I completed my first year with a <strong> propaedeutic</strong>. <br></br> I'm a UX/UI designer & frontend developer, but I'm always open to learn new things!
        </p>
        <a href="/about-me">About me</a>
        {% comment %} <ul class="tags">
          <li><span>crazy</span></li>
          <li><span>enthusiastic</span></li>
          <li><span>smart</span></li>
        </ul> {% endcomment %}
      </div>
    </li>
  </ul>
  </section>

<section class="skills-overview">
  <h2>My Skills</h2>
  <div class="skills-columns">
 
    <div class="skills-group">
      <h3>Soft skills:</h3>
      <ul>
        <li>Problem solving</li>
        <li>Active listening</li>
        <li>Empathy</li>
        <li>Curiosity</li>
        <li>Team player</li>
         <li>Creative</li>
        <li>Stress-resistant</li>
        <li>Responsable</li>
      </ul>
    </div>
    <div class="skills-group">
      <h3>Hard skills:</h3>
      <ul>
        <li>HTML & CSS</li>
        <li>JS</li>
        <li>Github</li>
        <li>Nodejs</li>
        <li>NPM</li>
        <li>UX, UI design </li>
        <li>Accessibility</li>
      </ul>
    </div>
    <div class="skills-group">
      <h3>Design tools:</h3>
      <ul>
        <li>Adobe XD</li>
        <li>Figma</li>
        <li>Canva</li>
        <li>Procreate</li>
        <li>Magento</li>
        <li>Illustrator</li>
        <li>Visual Studio</li>
      </ul>
    </div>
  </div>
</section>


<ul>
<li>Contact me</li>
<li>+31-0611496473</li>
<li>info.kimvanzuilen@gmail.com</li>
<li> 
    <div>
        <p>instagram</p>
        <p>github</p>
        <p>linkedin</p>
    </div>
</li>
</ul>


  </div>


{% endblock %}