{% layout "server/layouts/base.liquid" %}


{% block homeOverview %}

<div class="single-project">

  <!-- Introductie -->
  <section class="introduction-project">
    <ul>
      <li><p class="badge-lightpink">Hackathon winning project</p></li>
      <li><h1>Guess who? - <span class="highlight"> Women in tech edition</span></h1></li>
      <li><p class="intro">
        For the Hackathon, I teamed up with Tymo and David to create a game called "Guess Who - Women in Tech Edition". The goal was to introduce inspiring women in tech in a fun and interactive way.
        <br>
        <br>
        We built the game using HTML, CSS and JavaScript — all within just 4 days. We spent the first 2 days developing the concept and the next 2 coding and polishing the game. As a team, we brainstormed, refined our ideas, and proudly presented the final result.
      </p></li>
      <li><a href="https://tymonl.github.io/Hackathon/" class="live-website">See live project →</a></li>
    </ul>
  </section>

  <article class="project-section">
    <div class="text">
      <h2 class="gradient-greypink"> ✨ Solution</h2>
      <p>
        The solution to celebrate women in tech was a “Guess Who?” - game. The design was inspired by the branding of the Women in Tech global conference. Using their house style, we built the game and even played it ourselves.
        <br>
        <br>
        As a team, we were thrilled to win tickets to the CSS Day Conference in Amsterdam — such a rewarding and exciting outcome!
      </p>
    </div>
  </article>

  <article class="project-section all-images">
    <div class="image">
      <img src="/assets/images/HTK-1.png" alt="Home page project Hackathon" />
    </div>
    <div class="image">
      <img src="/assets/images/HTK-2.png" alt="3D gameboard of the Hackathon project" />
    </div>
  </article>


  <article class="project-section">
    <div class="text">
      <h2> New insights</h2>
      <p>
        David built a 3D game board using only CSS — something I'd love to learn to do as well! I also want to improve my JavaScript skills, as it's the language I'm currently least confident in. This will definitely be the focus of my next personal project.
      <br>
      </p>
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2>My part in this project</h2>
      <p>
        My responsibilities included coming up with the concept, designing the game, creating wireframes, and building the homepage. Tymo connected the game to the database, while David worked on the 3D board.
        <br>
        <br>
        Our teamwork went really well, but with only four days to complete everything, we didn't have time to expand the game further.
      <br>
      </p>
    </div>
    <div class="image">
      <img src="/assets/images/HTK-3.png" alt="Figma file with our process"/>
    </div>
  </article>

  <article class="project-section">
    <div class="text last-one">
      <h2> 
        👀 Reflection</h2>
      <p>
        Looking back on the Hackathon, I can truly say it was a great experience. I had never joined one before, so it was both exciting and a little overwhelming.
        <br>
        <br>
        The time pressure was intense, but it also made the process more dynamic. It felt amazing to collaborate and deliver something functional in such a short amount of time — and we're proud of the final result!
      </p>
    </div>
  </article>
</div>

{% endblock %}