{% layout "server/layouts/base.liquid" %}

{% comment %} inhoud van de main op de home page {% endcomment %}

{% block overview %}
{% comment %} home banner {% endcomment %}
<div class="homepage">
<h1>Searching for a family</h1>
<h2>Would you love me?</h2>

{% endblock %}

