/* ⭐️ HOME PAGE ⭐️ */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 2em;
  gap: 1em;

  p{
    font-size: 1.2rem;
    padding: .5em 2em;
    border-radius: 20px;
    border: .2em solid var(--color-white);
    background-color: var(--color-pastel-pink);
  }
}

.layout-animals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;

  img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: .5em;
  }

  li{
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
}

/* next en before buttons */
.next-page {
  display: flex;
  justify-content: space-between;
  margin: 20px;

  a{
    padding: 10px 25px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-black);
    transition: background-color 0.3s ease;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
    border: .2em solid var(--color-white);
  }
}


.next-page a:first-child {
  background-color: var(--color-pastel-blue);
}

.next-page a:first-child:hover {
  background-color: #9bb6c1;
}

.next-page a:last-child {
  background-color: var(--color-pastel-green);
}

.next-page a:last-child:hover {
  background-color: #a7ceb0;
}



/* ⭐️ FAVORITE PAGE ⭐️ */

.favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  border-radius: 20px;

  h1{
    font-size: 2.4rem;
    margin-bottom: 1.5em;
    text-align: center;
  }

  h2{
    margin: 0.5em;
    font-size: 1.4rem;
    color: #4c3d69;
  }

  p{
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--color-pastel-pink);
    border: 2px solid var(--color-white);
    border-radius: 20px;
    padding: 1em 2em;
  }

  a{
    display: inline-block;
    background-color: var(--color-pastel-pink);
    color: var(--color-black);
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
}



.favorite-animals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center;
  gap: 3em;
  list-style: none;
  padding: 0;
}

.favorite-animals a:hover {
  background-color: #e9decf;
}

.favorite-animals li {
  background-color: var(--color-white);
  width: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  border-radius: 12px;
  
  &:hover {
    transform: translateY(-5px);
  }

  img{
    width: 80%;
    height: auto;
    border-radius: 0.75rem;
    object-fit: cover;
    margin-top: 0.75rem;
    aspect-ratio: 1 / 1;
  }
}

.options-animals{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
  
  button{
    padding: 0.2em 1em;
  }

  a{
    padding: 0.45em 1em;
  }

}

.delete-btn {
  background-color: var(--color-pastel-orange);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f99a9a;
}}


/* ⭐️ DETAIL PAGE ⭐️ */

.detail-container {
  padding: 2rem 1rem;
  font-family: 'Segoe UI', sans-serif;
  color:var(--color-black);
  max-width: 1100px;
  margin: 0 auto;
  background-color: var(--color-pastel-pink);
  border-radius: 12px;
  margin-top: 50px;
  margin-bottom: 2rem;

  h1{
    padding: .5em 2em;
    border-radius: 20px;
    border: .2em solid var(--color-white);
    background-color: #FDF1F2;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  a{
    display: block;
    margin-top: 2rem;
    text-align: center;
    color: var(--color-black);
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


/* ⭐️ card met mainImg ⭐️ */
.detail-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  background-color: #f9f9f9;
  border-radius: 24px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
}

.main-image img {
  width: 350px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

.card-text {
  flex: 1;
  min-width: 300px;
}



/* ⭐️ description ⭐️ */
.description-box {
  background-color: #FDF1F2;
  padding: 1.5rem;
  border-radius: 16px;
  margin-bottom: 2rem;

  h2{
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
}

.external-link:hover {
  text-decoration: underline;
}

/* ⭐️ info about animal ⭐️ */
.info {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info a:hover {
  text-decoration: underline;
}

.info-selections {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: .2rem;

  p{
    background-color: #d7eaf4;
    border-radius: 12px;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    margin: 0;
  }
}


/* ⭐️ Gallery extra images ⭐️ */
.image-gallery {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  flex-wrap: wrap;

  img{
    width: 220px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }}

}


/* ⭐️ Locatie ⭐️ */
.location {
  background-color: var(--color-white);
  padding: 1.5rem;
  margin-top: 2rem;
  border-radius: 16px;
  text-align: left;

  h2{
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }

  p{
    margin-bottom: 0.5rem;
  }

  iframe{
    margin-top: 1rem;
    border-radius: 12px;
    width: 100%;
  }
}



/* ⭐️ media queries ⭐️ */
@media (max-width: 768px) {
  .detail-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info-selections {
    justify-content: center;
  }

  .location {
    text-align: center;
  }
}

@media (max-width: 1050px){
  main {
    background-image:none
  }
}

