{% layout "server/layouts/base.liquid" %}

{% comment %} inhoud van de main op de home page {% endcomment %}

{% block homeOverview %}
{% comment %} home banner {% endcomment %}
  <div class="gradientHome">
  </div>
  
  <section class="home-banner">
   <h1>Webdesign
     <br></br>& development</h1>
   <button>scroll please!</button>
  </section>
  
  <ul class="scroll-banner">
    <li>first year cum laude</li>
    <li>Always eager to learn more!</li>
    <li>Dreamwork is teamwork</li>
     <li>first year cum laude</li>
    <li>Always eager to learn more!</li>
    <li>Dreamwork is teamwork</li>
  </ul>



  <section class="introduction-me">
  <h2>Who am I?</h2>
  <ul class="card">
    <li class="item">
      <img src="https://www.shutterstock.com/image-vector/cute-cat-wear-dino-costume-600nw-2457633459.jpg" alt="cute image">
    </li>
    <li class="item">
      <div>
        <h3>Hi I'm Kim</h3>
        <p>
          I am a third-year student Communication & Multimedia Design at the Hogeschool van Amsterdam. I completed my first year with a propaedeutic. I'm a UX/UI designer & frontend developer, but I'm always open to learn new things! Do you want to get to know me?
        </p>
        <ul class="tags">
          <li><span>crazy</span></li>
          <li><span>enthusiastic</span></li>
          <li><span>smart</span></li>
        </ul>
      </div>
    </li>
  </ul>
  </section>



<section class="overview-work">
  <h2>My projects</h2>
  <ul>
    <li>
      <a href="project-1">
        <img src="https://i.pinimg.com/564x/60/b3/b8/60b3b888914534cfa940f458c2143798.jpg" alt="bunny">
      </a>
    </li>
      <li>
      <a href="project-1">
        <img src="https://i.pinimg.com/564x/60/b3/b8/60b3b888914534cfa940f458c2143798.jpg" alt="bunny">
      </a>
    </li>
      <li>
      <a href="project-1">
        <img src="https://i.pinimg.com/564x/60/b3/b8/60b3b888914534cfa940f458c2143798.jpg" alt="bunny">
      </a>
    </li>
      <li>
      <a href="project-1">
        <img src="https://i.pinimg.com/564x/60/b3/b8/60b3b888914534cfa940f458c2143798.jpg" alt="bunny">
      </a>
    </li>
    <li>
      <a href="project-1">
        <img src="https://i.pinimg.com/564x/60/b3/b8/60b3b888914534cfa940f458c2143798.jpg" alt="bunny">
      </a>
    </li>
    <li>
      <a href="project-1">
        <img src="https://i.pinimg.com/564x/60/b3/b8/60b3b888914534cfa940f458c2143798.jpg" alt="bunny">
      </a>
    </li>
  </ul>
  </section>
  <div class="scroll-hint">Scroll to see more! →</div>
{% endblock %}





