{% layout "server/layouts/base.liquid" %}

{% comment %} inhoud van de main op de home page {% endcomment %}

{% block homeOverview %}
<div class="display-overview">
{% comment %} home banner {% endcomment %}
  {% comment %} <div class="gradientHome">
  </div>
  
  <section class="home-banner">
   <h1>Webdesign
     <br></br>& development</h1>
   <button>scroll please!</button>
  </section>
  
  <ul class="scroll-banner">
    <li>first year cum laude</li>
    <li>Always eager to learn more!</li>
    <li>Dreamwork is teamwork</li>
     <li>first year cum laude</li>
    <li>Always eager to learn more!</li>
    <li>Dreamwork is teamwork</li>
  </ul> {% endcomment %}



  <section class="introduction-me">
  <h2>Who am I?</h2>
  <ul class="card">
    <li class="item">
      <img src="/assets/images/profile-picture.png" alt="cute image">
    </li>
    <li class="item">
      <div>
        <h3>Hi I'm Kim</h3>
        <p>
          I am a third-year student Communication & Multimedia Design at the Hogeschool van Amsterdam. I completed my first year with a <strong> propaedeutic</strong>. <br></br> I'm a UX/UI designer & frontend developer, but I'm always open to learn new things!
        </p>
        <a href="/about-me">About me</a>
        {% comment %} <ul class="tags">
          <li><span>crazy</span></li>
          <li><span>enthusiastic</span></li>
          <li><span>smart</span></li>
        </ul> {% endcomment %}
      </div>
    </li>
  </ul>
  </section>

  <div class="tape-bar">
  <ul class="scrolling-list">
    <li>Frontend development</li>
    <li>âœ¹</li>
    <li>Accessibility</li>
    <li>âœ¹</li>
    <li>Teamwork is dreamwork</li>
    <li>âœ¹</li>
    <li>UX, UI designer!</li>
    <li>âœ¹</li>
    <li>Strong conceptual thinking</li>
    <li>âœ¹</li>


    <!-- ðŸ” Duplicatie voor naadloze loop -->
    <li>Frontend development</li>
    <li>âœ¹</li>
    <li>Accessibility</li>
    <li>âœ¹</li>
    <li>Teamwork is dreamwork</li>
    <li>âœ¹</li>
    <li>UX, UI designer!</li>
    <li>âœ¹</li>
    <li>Strong conceptual thinking</li>
    <li>âœ¹</li>
  </ul>
</div>

  {% comment %} workoverview  {% endcomment %}
<section class="overview-work">
  <h2>Overview best projects</h2>
  <div class="scroll-container">
  <ul>
    <li>
      <a href="#">
        <img src="/assets/images/tapchat.png" alt="project tapchat">
      </a>
    </li>
      <li>
        <a href="#">
        <img src="/assets/images/nintendo-switch-lite.png" alt="project nintendo switch lite made with CSS only, no Javascript">
      </a>
    </li>
      <li>
        <a href="#">
        <img src="/assets/images/information-design.png" alt="project information design">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/assets/images/women-in-tech.png" alt="project women in tech">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/assets/images/kylie-cosmetics.png" alt="project tax authorities">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/assets/images/tax-authorities.png" alt="project tax authorities">
      </a>
    </li>
  </ul>
  </div>
  <div class="scroll-hint">Scroll to see more! â†’</div>
</section>




<section class="skills-overview">
  <h2>My Skills</h2>
  <div class="skills-columns">
 
    <div class="skills-group">
      <h3>Soft skills:</h3>
      <ul>
        <li>Problem solving</li>
        <li>Active listening</li>
        <li>Empathy</li>
        <li>Curiosity</li>
        <li>Team player</li>
         <li>Creative</li>
        <li>Stress-resistant</li>
        <li>Responsable</li>
      </ul>
    </div>
    <div class="skills-group">
      <h3>Hard skills:</h3>
      <ul>
        <li>HTML & CSS</li>
        <li>JS</li>
        <li>Github</li>
        <li>Nodejs</li>
        <li>NPM</li>
        <li>UX, UI design </li>
        <li>Accessibility</li>
      </ul>
    </div>
    <div class="skills-group">
      <h3>Design tools:</h3>
      <ul>
        <li>Adobe XD</li>
        <li>Figma</li>
        <li>Canva</li>
        <li>Procreate</li>
        <li>Magento</li>
        <li>Illustrator</li>
        <li>Visual Studio</li>
      </ul>
    </div>
  </div>
</section>



  {% comment %} experience{% endcomment %}
  <section class="experiences">
    <div class="experiences-wrapper">
  
      <div class="content-column">
        <h2>My experiences</h2>
        <ul>
      <li>
        <details>
          <summary>Hackathon winning</summary>
          <p>klalkdffak</p>
        </details>
      </li>
  
      <li>
        <details>
          <summary>information design</summary>
          <p>klalkdffak</p>
        </details>
      </li>
  
      <li>
        <details>
          <summary>Webdesign & development</summary>
          <p>klalkdffak</p>
        </details>
      </li>
  
      <li>
        <details>
          <summary>Cum laude - 1st year</summary>
          <p>klalkdffak</p>
        </details>
      </li>
  
      <li>
        <details>
          <summary>Fashioncheque</summary>
          <p>klalkdffak</p>
        </details>
      </li>
  
      <li>
        <details>
          <summary>Bitch the agency</summary>
          <p>klalkdffak</p>
        </details>
      </li>
  
        </ul>
      </div>
      
         <div class="image-column">
        <img src="/assets/images/css-ticket.png" alt="picture of Kim with her teammates winning css ticekts" class="portrait">
      </div>
  
    </div>
  </section>
  

  </div>


{% endblock %}





