
{% layout "server/layouts/base.liquid" %}

{% block myWork %}
{% comment %} hier kan een project komen {% endcomment %}

<section class="introduction-developer">
  <h2>Webdesign & development</h2>
  <button>See all</button>
</section>


<section class="overview-work">
  <h2>Projects webdesign & development </h2>
  <div class="scroll-container">
  <ul>
    <li>
      <a href="#">
        <img src="/assets/images/tapchat.png" alt="project tapchat">
      </a>
    </li>
      <li>
        <a href="#">
        <img src="/assets/images/nintendo-switch-lite.png" alt="project nintendo switch lite made with CSS only, no Javascript">
      </a>
    </li>
      <li>
        <a href="#">
        <img src="/assets/images/information-design.png" alt="project information design">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/assets/images/women-in-tech.png" alt="project women in tech">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/assets/images/kylie-cosmetics.png" alt="project tax authorities">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/assets/images/tax-authorities.png" alt="project tax authorities">
      </a>
    </li>
  </ul>
  </div>
</section>

  <div class="scroll-hint">Scroll to see more! →</div>

  <section class="introduction-designer">
  <h2>UX, UI designer</h2>
  <button>See all</button>
</section>


<section class="overview-work">
  <h2>Projects UX, UI design</h2>
  <div class="scroll-container">
  <ul>
    <li>
      <a href="#">
      <img src="/assets/images/light-pollution.png" alt="project light pollution">
    </a>
  </li>
    <li>
      <a href="#">
        <img src="/assets/images/passion-project.png" alt="project responsable sneakers">
      </a>
    </li>
      <li>
        <a href="#">
        <img src="/assets/images/emerging-technologies.png" alt="project emergings technologies">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/assets/images/society-interaction.png" alt="project society and interaction">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/assets/images/data-visualisatie.png" alt="project data visualisation">
      </a>
    </li>
  </ul>
  </div>
</section>

  <div class="scroll-hint">Scroll to see more! →</div>

{% endblock %}