{% layout "server/layouts/base.liquid" %}

{% block Projects %}
<main>

<ul class="subjects-overview">
    <li><h2>My projects</h2></li>
    <li> <p>As part of the Web Design & Development minor, I created a product for every subject.</p></li>
    <li><p>Scroll down to see what I've made</p></li>
    <li>  
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
         <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19V5m0 14-4-4m4 4 4-4"/>
        </svg></li>
    </li>
</ul>



{% comment %} tape with all the school subjects {% endcomment %}
<div class="tape-bar">
    <ul class="scrolling-list">
      <li>Meesterproef</li>
      <li>âœ¹</li>
      <li>Web Apps from Scratch</li>
      <li>âœ¹</li>
      <li>Css to the Resue</li>
      <li>âœ¹</li>
      <li>Browser Technology!</li>
      <li>âœ¹</li>
      <li>Hackathon</li>
      <li>âœ¹</li>
      <li>API</li>
      <li>âœ¹</li>
      <li>Human Centered Design</li>
  
  
      <!-- ðŸ” Duplicatie voor naadloze loop -->
      <li>Meesterproef</li>
      <li>âœ¹</li>
      <li>Web Apps from Scratch</li>
      <li>âœ¹</li>
      <li>Css to the Resue</li>
      <li>âœ¹</li>
      <li>Browser Technology!</li>
      <li>âœ¹</li>
      <li>Hackathon</li>
      <li>âœ¹</li>
      <li>API</li>
      <li>âœ¹</li>
      <li>Human Centered Design</li>
    </ul>
</div>

<section class="intro-project">
  <h2>Front-end development projects</h2>
  <p>These projects were made during my minor in Web Design & Development. I focused on building websites and web applications using HTML, CSS, JavaScript, and frameworks. The projects show my skills in creating interactive and user-friendly front-ends.</p>
</section>
{% comment %} Frontend work {% endcomment %}
<ul class="project-gallery">

  <li class="project-card"> <h2>white space</h2></li>

  <li class="project-card"><a href="https://dashboard-hl8y.onrender.com/NL">
  <span class="nametag nametag-pink">School subject</span>
  <div class="image-wrapper">
  <img src="/assets/images/framer-framed-project.png" alt="Framer Framed website">
  </div>
  </a>
  </li>

  <li class="project-card">
    <a href="https://kimvz19.github.io/CSS-Modular-opdracht/">
      <span class="nametag nametag-pink">School subject</span>
        <div class="image-wrapper">
         <img src="/assets/images/nintendo-switch-lite.png" alt="Nintendo Switch Lite website">
        </div>
    </a>
  </li>

  <li class="project-card"><a href="https://myapp-three-navy.vercel.app/">
  <span class="nametag nametag-pink">School subject</span>
  <div class="image-wrapper">
  <img src="/assets/images/information-design.png" alt="Data visualization website">
  </div>
  </a>
  </li>


  <li class="project-card"><a href="https://kimvz19.github.io/HCD-project/">
    <span class="nametag nametag-pink">School subject</span>
    <div class="image-wrapper">
    <img src="/assets/images/tapchat.png" alt="Project 1">
    </div>
    </a>
  </li>



  <li class="project-card">
    <a href="https://tymonl.github.io/Hackathon/">
      <span class="nametag nametag-pink">School subject</span>
        <div class="image-wrapper">
         <img src="/assets/images/women-in-tech.png" alt="Women in Tech website">
        </div>
    </a>
  </li>

<li class="project-card"><a href="https://api-2425-kd4q.onrender.com/">
<span class="nametag nametag-pink">School subject</span>
<div class="image-wrapper">
<img src="/assets/images/api-project.png" alt="API website">
</div>
</a>
</li>

<li class="project-card">
  <a href="https://kimvz19.github.io/BT-eindopdracht/">
    <span class="nametag nametag-pink">School subject</span>
      <div class="image-wrapper">
        <img src="/assets/images/tax-authorities-2.png" alt="tax authorities website">
      </div>
  </a>
</li>


<li class="project-card"><a href="https://kimvz19.github.io/websitej3fed/">
<span class="nametag nametag-pink">School subject</span>
<div class="image-wrapper">
<img src="/assets/images/kylie-cosmetics.png" alt="Kylie Cosmetics mobile website ">
</div>
</a>
</li>

</ul>

{% comment %} UX, UI projects {% endcomment %}

<section class="intro-project">
  <h2>UX, UI projects</h2>
  <p>These UX/UI projects were created as part of my minor in Web Design & Development. I worked on designing clear and user-friendly interfaces using wireframes, prototypes, and design tools. The goal was to improve the user experience and visual design.</p>
</section>

<ul class="project-gallery">

  <li class="project-card"> <h2>white space</h2></li>

  <li class="project-card"><a href="/light-pollution">
    <span class="nametag nametag-pink">School subject</span>
    <div class="image-wrapper">
    <img src="/assets/images/light-pollution-2.png" alt="light pollution project">
    </div>
    </a>
  </li>

  <li class="project-card"><a href="/information-design">
    <span class="nametag nametag-pink">School subject</span>
    <div class="image-wrapper">
    <img src="/assets/images/information-design.png" alt="Information design project">
    </div>
    </a>
  </li>

  <li class="project-card"><a href="/emerging-technologies">
    <span class="nametag nametag-pink">School subject</span>
    <div class="image-wrapper">
    <img src="/assets/images/emerging-technologies.png" alt="Emerging technologies project">
    </div>
    </a>
  </li>

  <li class="project-card"><a href="/society-and-interaction">
    <span class="nametag nametag-pink">School subject</span>
    <div class="image-wrapper">
    <img src="/assets/images/society-interaction-2.png" alt="Society and Interaction project">
    </div>
    </a>
  </li>

  <li class="project-card"><a href="/responsable-sneakers">
    <span class="nametag nametag-pink">School subject</span>
    <div class="image-wrapper">
    <img src="/assets/images/passion-project.png" alt="Passion project">
    </div>
    </a>
  </li>
</ul>

<ul class="project-gallery">
  <li class="project-card"> <h2>white space</h2></li>
</ul>

</main>

{% endblock %}



